*/node_modules/
App/.expo/
*/npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
App/web-build/

# macOS
App/.DS_Store

# Firebase SDK
App/assets/config/keys.js
Comms_Python/helper/key.py
Comms_JS/helper/key.js

# Sender credentials
Comms_Python/helper/login.py
Comms_JS/helper/login.js

