*/node_modules/
App/.expo/
*/npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
App/web-build/

# macOS
App/.DS_Store

# Firebase SDK
App/assets/config/keys.js
Sender/helper/key.py

# Sender credentials
Sender/helper/login.py

